# Telegram Bot
BOT_TOKEN=your_telegram_bot_token_here

# Database Configurations
DB_HOST=127.0.0.1
DB_PORT=5433
DB_USER=postgres
DB_PASS=postgres
DB_NAME=napster_vpn

# VPN API Configuration
VPN_API_URL=http://your-vpn-panel.com/api
VPN_API_USER=admin
VPN_API_PASS=password
